
.canvasbox {
    border-radius: 7px;
    width: 200px;
    height: 150.5px;
    background: #dadada;

}

.mb10 {
    margin-bottom: 10px
}

.mt10 {
    margin-top: 10px
}

.bx--btn--secondary {
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    background-color: #393939;
    color: #ffffff;
    width: 180px;
}

.updatenote {
    color: white;
    display: inline;
}