body {
    padding: 20px;
}

.p20 {
    padding: 20px;
    background: transparent;
}

.canvasbox {
    border-radius: 3px;
    width: 180px;
    height: 180px;
    border-bottom: 3px solid #0063FF;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 #00000030;
    background: #333;

}

.mb10 {
    margin-bottom: 10px
}

.mt10 {
    margin-top: 10px
}

.bx--btn--secondary {
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    background-color: #393939;
    color: #ffffff;
    width: 180px;
}

.updatenote {
    color: white;
    display: inline;
}